html {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    padding: 40px 20px 20px 20px;
}

.container-fluid{
    max-width: 1140px;
}

.half{
    max-width: 600px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

img{
    max-width: 100%;
}


.title {
    text-align: left;
    color: white;
    font-weight: 900;
    line-height: 140px;
    font-size: 140px;
}
.title em{
    color: #F5E84C;
    font-style: normal;
}
.subheading1 {
    color: white;
    font-weight: 800;
    line-height: 28px;
    font-size: 20px;
    padding : 0px 0px 0px 0px;
}
.subheading1 em {
    color: #F5E84C;
    font-style: normal;
}
.content{
    text-align: justify;
    font-weight: 100;
    line-height: 22px;
    font-size: 14px;
    color: white;
    padding : 0px 0px 0px 0px;
}

.desc{
    padding : 90px 0px 90px 0px;
}

#hello{
    font-size :70px;
}

.content b{
    font-weight: 800;
}
@keyframes slideInFromBot {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromBot;
}



.animBlock[data-position="bottom"] { bottom: -20%;}

.animBlock[data-position="bottom"].viewed {
    bottom: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
}


.block {
    height:300px;
    width:300px;
    background-color:orange;
    margin-top:50px;
}


.animBlock {
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    -webkit-transition: all .55s ease-in;
    -moz-transition: all .55s ease-in;
    -ms-transition: all .55s ease-in;
    -o-transition: all .55s ease-in;
    transition: all .55s ease-in;
}




@media(max-width:1080px){

    .title {
        line-height: 120px;
        font-size: 120px;
    }
}
@media(max-width:980px){

    .title {
        line-height: 100px;
        font-size: 100px;
    }

}

@media(max-width:768px){

    .title {
        line-height: 80px;
        font-size: 80px;
    }
}

@media(max-width:480px){

    .title {
        line-height: 60px;
        font-size: 60px;
    }
}


@media(max-width:320px){

    .title {
        line-height: 50px;
        font-size: 50px;
    }
}
