<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="./css/hello.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="./js/hello.js"></script>
</head>

<body style="background-color: #000000;">

<!--<div data-position="bottom" data-offset="300" class="notViewed animBlock">-->
    <!--<div class="block">in from bottom</div>-->
<!--</div>-->

<div class="container-fluid">

    <div class="row content">
        <div class="col">

        <header>
            <div data-position="bottom" data-offset="300" id="titlebox" class ="row" >

                <div class ="col">
                    <p class = "title">Hello! My name is <em>Abraham Williams</em>, and I’m a Creative Enthusiast</p>
                </div>
            </div>
        </header>
            <div class="row">

                <div class = "col-12 col-md-6" >
                    <div data-position="bottom" data-offset="300" class ="row half desc notViewed animBlock">
                        <img src="../images/yello-web.jpg" style="display: block; margin: auto; ">
                    </div>
                </div>

                <div class ="col-12 col-md-6">

                    <div data-position="bottom" data-offset="300" class ="row half notViewed animBlock">
                        <div class="col">
                            <p class = "content desc">
                            I’m a Computer Science Student at University of Indonesia, and im very interested in Creative-Technology Industries.
                            I've started learning graphic design back in 2012, when I was an 8th grader. Now, I have experience in creating more than
                                just a graphic design, but also focusing on UI/UX design, Visual Branding/Identity, Photo/Videography and also Creative Installation.

                            <br><br>I was born back in Massachusetts, 24 February 1999 when my father was pursuing his master degree.
                            At this time I live in Jakarta, Indonesia, but I spend most of my time living near Universitas Indonesia, Depok, Jawa Barat.
                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <p class ="subheading1">
                            <em>EDUCATION</em> HISTORY
                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class ="col">
                            <div class="col">
                                <p class ="content">
                                    <b>2017 - Now</b> <br>
                                    Computer Science Major - Faculty of Computer Science, University of Indonesia
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class ="col">
                                <p class ="content">
                                    <b>2014-2017</b> <br>
                                    Science Major - Canisius College Senior High School
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class ="col">
                                <p class ="content">
                                    <b>2011-2014</b> <br>
                                    Canisius College Junior High School
                                </p>
                            </div>
                            <div class="w-100"></div>
                            <div class ="col">
                                <p class ="content">
                                    <b>2004-2011</b> <br>
                                    Don Bosco II Primary School
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
