<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>My ToDo List</h1>

    <hr/>

    <div class = "todoList">
        <form class="form-horizontal" role="form" th:action="@{/update}" th:object="${items}" method="POST">
            <table class="table table-bordered table-striped" id="todoItems">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Complete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,i : *{todoList}" th:class="${item.complete}? active : warning" >
                    <input type="hidden" th:field="*{todoList[__${i.index}__].id}"/>
                    <td th:text="${item.name}">Item_name</td><input type="hidden" th:field="*{todoList[__${i.index}__].name}"/>
                    <td th:text="${item.category}">item_category</td><input type="hidden" th:field="*{todoList[__${i.index}__].category}"/>
                    <td><input type="checkbox" th:checked="${item.complete} == true" th:field="*{todoList[__${i.index}__].complete}"/></td>
                </tr>
                </tbody>
            </table>
            <!-- Update Button -->
            <button type="submit" class="btn btn-primary">Update Tasks</button>
        </form>
    </div>

    <hr/>

    <!-- Item Input Form -->
    <div class="todoForm">
        <form class="form-horizontal" role="form" th:action="@{/add}" th:object="${newitem}" method="POST">
            <div class="form-group">
                <label for="inputItemName" class="col-sm-2">Task Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control" id="inputItemName" placeholder="Enter name"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputItemCategory" class="col-sm-2">Task Category</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{category}" class="form-control" id="inputItemCategory" placeholder="Enter category"/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add Task</button>

        </form>
    </div>

</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/bootstrap.min.js"></script>
</body>
</html>